{% extends "base.html" %} {% block content %}
{% load static %}



<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Бараа</th>
  <th scope="col" width="120">Тоо ширхэг</th>
  <th scope="col" width="120">Үнэ</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
	
<tr id="buton">
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{img}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{name}}</a>
				<p class="text-muted small">Өнгө: {{color}} <br> Хэмжээ: {{size}}</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
							<button class="btn btn-light" type="button" id="button-plus" onclick="plus()"> <i class="fa fa-minus"></i> </button>
							</div>
							<input type="text" class="form-control" id="num" value="1">
							<div class="input-group-append">
							<button class="btn btn-light" type="button" id="button-minus" onclick="minus()"> <i class="fa fa-plus"></i> </button>
							</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">${{price}}</var> 
			<!-- <small class="text-muted"> $315.20 each </small>  -->
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
		<form method="post">
		{%csrf_token%}
	<button type="submit" class="btn btn-danger"> Устгах</button>
	</form>
	</td>
</tr>

</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Нийт үнэ:</dt>
			  <dd class="text-right">$69.97</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Хөнгөлөлт:</dt>
			  <dd class="text-right"> $10.00</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Нийт:</dt>
			  <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static 'images/misc/payments.png' %}" height="26">
			</p>
			<a href="/place_order" class="btn btn-primary btn-block"> Тооцоо хийх </a>
			<a href="/store" class="btn btn-light btn-block">Худалдан авалтаа үргэлжлүүлэх</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<script>

	function plus() {
        let x = parseInt(document.getElementById("num").value);
		if (x > 1) {
        document.getElementById("num").value = x - 1;
		}
    }

    function minus() {
        let x = parseInt(document.getElementById("num").value);
        
            document.getElementById("num").value = x + 1;
    }
</script>

<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}