{% extends "base.html" %} {% block content%}
{%load static%}
<section class="section-content padding-y bg">
<div class="container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- ============================ COMPONENT 2 ================================= -->
<div class="row">
		<main class="col-md-8">

			<div class="card">
				<table class="table table-borderless table-shopping-cart">
				<thead class="text-muted">
				<tr class="small text-uppercase">
				  <th scope="col">Бараа</th>
				  <th scope="col" width="120">Тоо ширхэг</th>
				  <th scope="col" width="120">Үнэ</th>
				  <th scope="col" class="text-right" width="200"></th>
				</tr>
				</thead>
				<tbody>
					
				<tr id="buton">
					<td>
						<figure class="itemside align-items-center">
							<div class="aside"><img src="{{img}}" class="img-sm"></div>
							<figcaption class="info">
								<a href="#" class="title text-dark">{{name}}</a>
								<p class="text-muted small">Өнгө: {{color}} <br> Хэмжээ: {{size}}</p>
							</figcaption>
						</figure>
					</td>
					<td> 
						<!-- col.// -->
									<div class="col"> 
										<div class="input-group input-spinner">
											<div class="input-group-prepend">
											<button class="btn btn-light" type="button" id="button-plus" onclick="plus()"> <i class="fa fa-minus"></i> </button>
											</div>
											<input type="text" class="form-control" id="num" value="1">
											<div class="input-group-append">
											<button class="btn btn-light" type="button" id="button-minus" onclick="minus()"> <i class="fa fa-plus"></i> </button>
											</div>
										</div> <!-- input-group.// -->
									</div> <!-- col.// -->
					</td>
					<td> 
						<div class="price-wrap"> 
							<var class="price">{{price}}₮</var> 
							<!-- <small class="text-muted"> $315.20 each </small>  -->
						</div> <!-- price-wrap .// -->
					</td>
					<td class="text-right"> 
						<form method="post">
						{%csrf_token%}
						<button type="submit" class="btn btn-danger" style="background-color:#2c3333; color:#F397AF;border:1px solid #F397AF"> <i class="fa fa-trash-o"></i></button>
					</form>
					</td>
				</tr>
				
				</tbody>
				</table>
				</div> <!-- card.// -->


<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Хүргүүлэх хаяг</h4>
	<form action="">
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Хүлээн авагчийн нэр</label>
				<input type="text" placeholder="Хүлээн авагчийн нэр" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Захиалгчийн нэр</label>
				<input type="text" placeholder="Захиалагчийн нэр" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Утасны дугаар</label>
				<input type="text" value="утасны дугаараа бичнэ үү?" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Гэрийн хаяг</label>
				<input type="text" placeholder="гэрийн хаягаа бичнэ үү?" class="form-control">
			</div>
		</div> <!-- row.// -->	
	</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="accordion" id="accordion_pay">
	<div class="card">
		<header class="card-header">
			<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
				<input class="form-check-input" name="payment-option" checked type="radio" value="option2">
				<h6 class="form-check-label"> 
					QPAY
				</h6>
			</label>
		</header>
		<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="text-center text-muted">
				<img src="{% static 'images/misc/qr.png' %}">
			</p>
			Таны төлбөр баталгаажсаны дараа бид таньд мэдэгдэх болно.
		</div> <!-- card body .// -->
		</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	
</article> 
<!-- accordion end.// -->
  
		</main> <!-- col.// -->
		<aside class="col-md-4">
			<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Нийт үнэ:</dt>
			  <dd class="text-right">200000₮</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Хөнгөлөлт:</dt>
			  <dd class="text-right"> 100000₮</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Нийт:</dt>
			  <dd class="text-right text-dark b"><strong>985200₮</strong></dd>
			</dl>
			<hr>
			<a href="/place_order" class="btn btn-primary btn-block"> Захиалга өгөх </a>
			
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ============================ COMPONENT 2 END//  ================================= -->




</div> <!-- container .//  -->
</section>
{%endblock%}