{% extends "base.html" %} {% block content%}
{%load static%}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 50%; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4" style="color: #F397AF;">Нэвтрэх</h4>
      <form>
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Цахим хаягаа бичнэ үү" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Нууц үгээ бичнэ үү" >
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="#" class="float-right">Нууц үгээ мартсан?</a> 
           
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Нэвтрэх  </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4 text-white">Шинээр хаяг үүсгэх үү? <a href="/register">Бүртгүүлэх</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->




{%endblock%}